@using MvcMany.Models.AccountModel
@model RegisterModel
<form asp-action="Login" asp-controller="Admin" method="post">
    @if (ViewBag.Error != "")
    {
        <p class="text-danger">@ViewBag.Error</p>
    }
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-action="Create">Sign Up</a>
</form>